%h1 Cornwall Library iCal

%p Your library due dates in your digital calendar?

%p Enter your borrower number below:

%form.borrower#borrower
  %input.borrower__number#borrower_number{type: 'text'}
  %input.borrower__get-button{type: 'submit', value: 'Get my calendar'}

.borrower-calendar#borrower-calendar
  Your calendar:
  %input.borrower-calendar__url#calendar_url{type: 'text'}
